@media screen and (max-width: 1199px) {}

@media screen and (min-width: 1200px) {
    /*Обнуление*/
    * {
        padding: 0;
        margin: 0;
        border: 0;
    }
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
     :focus,
     :active {
        outline: none;
    }
    a:focus,
    a:active {
        outline: none;
    }
    nav,
    footer,
    header,
    aside {
        display: block;
    }
    html,
    body {
        height: 100%;
        width: 100%;
        font-size: 100%;
        line-height: 1;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    input,
    button,
    textarea {
        font-family: inherit;
    }
    input::-ms-clear {
        display: none;
    }
    button {
        cursor: pointer;
    }
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    a,
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    ul li {
        list-style: none;
    }
    img {
        vertical-align: top;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: 400;
    }
    /*--font---*/
    @font-face {
        font-family: 'PTSans-Bold';
        src: url('../fonts/PTSans-Bold.eot');
        src: local('☺'), url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('truetype'), url('../fonts/PTSans-Bold.svg') format('svg');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'PTSans-BoldItalic';
        src: url('../fonts/PTSans-BoldItalic.eot');
        src: local('☺'), url('../fonts/PTSans-BoldItalic.woff') format('woff'), url('../fonts/PTSans-BoldItalic.ttf') format('truetype'), url('../fonts/PTSans-BoldItalic.svg') format('svg');
        font-weight: 700;
        font-style: italic;
    }
    @font-face {
        font-family: 'PTSans-Italic';
        src: url('../fonts/PTSans-Italic.eot');
        src: local('☺'), url('../fonts/PTSans-Italic.woff') format('woff'), url('../fonts/PTSans-Italic.ttf') format('truetype'), url('../fonts/PTSans-Italic.svg') format('svg');
        font-weight: 400;
        font-style: italic;
    }
    @font-face {
        font-family: 'PTSans-Regular';
        src: url('../fonts/PTSans-Regular.eot');
        src: local('☺'), url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg') format('svg');
        font-weight: 400;
        font-style: normal;
    }
    /*  основа  */
    html {
        background-color: #fff;
    }
    body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        /*font-family: 'PTSans-Regular';*/
    }
    main {
        flex: 1 0 auto
    }
    footer {
        flex-shrink: 0;
        background-color: #50a2ee;
    }
    a {
        color: #000;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'PTSans-Bold';
    }
    h1 {
        font-size: 30px;
        text-align: center;
        margin: 25px;
        font-weight: 600;
    }
    h2 {
        font-size: 24px;
        font-weight: 600;
    }
    h3 {
        font-size: 18px;
        font-weight: 600;
    }
    h4 {
        font-size: 12px;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
    .logo-box {
        height: 90px;
        margin: 15px;
    }
    .logo-box>a {
        height: inherit;
    }
    .logo-img {
        height: inherit;
    }
    .logo-contact {
        margin: 0 30px 0 0;
        height: 120px;
        width: 230px;
    }
    .logo-contact__lang {
        padding: 10px 10px 10px 150px;
    }
    .logo-contact__img {
        height: 20px;
        width: 20px;
        margin: 5px;
    }
    .logo-contact__block {
        display: flex;
        height: 23px;
        width: 200px;
        margin: 1px;
    }
    .logo-tel {
        font-family: 'PTSans-Regular';
        color: #000;
        line-height: 10px;
        font-size: 15px;
        display: block;
        padding: 10px;
    }
    /*   navigation   */
    .nav-box {
        height: 50px;
        width: 100%;
        background-color: #50a2ee;
        display: flex;
    }
    .nav-box__item {
        text-align: center;
        margin: auto auto;
    }
    .nav-menu {
        color: #000;
        padding: 6px;
        font-size: 2em;
        margin: 0 15px;
    }
    .nav-menu:hover {
        color: #fff;
        border-bottom: 3px solid #303079;
    }
    .up {
        height: 60px;
        width: 60px;
        opacity: 0;
        background-color: #3c7930;
        padding: 15px 30px;
        border-radius: 30px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    .up img {
        height: 40px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    /*      */
    .content {
        font-family: 'PTSans-Italic';
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        min-height: 100%;
        background-color: #fff;
        margin: 0 auto;
    }
    .content-title {
        text-align: center;
    }
    .content-text {
        display: block;
        font-size: 19px;
        line-height: 25px;
        margin: 0 50px;
        text-indent: 40px;
    }
    .contakt-title {
        margin: 0 0 20px 100px;
    }
    .content-map {
        text-align: right;
        margin: 30px;
    }
    /*     */
    .category-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        max-width: 1000px;
        margin: 0 auto;
    }
    .category-box {
        display: flex;
        flex-direction: column;
        width: 300px;
        max-height: 200px;
    }
    .category-box:hover {
        border-radius: 5px;
        box-shadow: 0px 0px 3px 1px #696b75;
        transition: 0.2s;
    }
    .category {
        width: inherit;
        height: inherit;
    }
    .category-title {
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }
    .category-img {
        display: flex;
        justify-content: center;
    }
    .category-img__img {
        border-radius: 3px;
    }
    .category img {
        max-height: 150px;
        max-width: 200px;
        margin: 8px;
    }
    .centr {
        margin: 25px auto;
    }
    /*  */
    .tovar-list {
        display: flex;
        justify-content: space-between;
        width: 900px;
        min-height: 100%;
        margin: 5px auto;
        border: 1px solid #000;
        border-radius: 8px;
    }
    .tovar-img {
        display: flex;
        height: 200px;
        width: 300px;
        margin: auto auto;
    }
    .tovar-img img {
        height: 200px;
        border-radius: 5px;
    }
    .tovar-img img:hover {
        transform: scale(1.3);
        transition: .3s;
    }
    .tovar-description {
        display: flex;
        justify-content: flex-end;
        width: 600px;
        margin: 10px 20px;
    }
    .tovar-description__box {
        width: 350px;
    }
    .tovar-description__title {
        padding: 0 0 0 30px;
        margin: 10px;
    }
    .tovar-description__list {
        margin: 20px;
    }
    .tovar-description__list p {
        display: flex;
        /*margin: 0 0 7px 25px;*/
        margin: 0 auto;
    }
    .tovar-description__list p,
    .tovar-description__list ul {
        font-size: 15px;
        line-height: 17px;
    }
    .diametr {
        font-size: 24px;
        font-weight: 600;
    }
    /*    */
    .emblem-box {
        display: flex;
        justify-content: center;
        margin: 5px;
        max-width: 1200px;
    }
    .emblem-box__item {
        max-width: 1200px;
        max-height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .emblem-avto {
        display: flex;
        max-width: 80px;
        margin: 15px;
    }
    .foto {
        height: 280px;
        max-width: 1200px;
    }
    .foto img {
        /* height: 100%; */
        width: 100%;
    }
    /*     */
    .tabl {
        width: 250px;
        border-collapse: collapse;
        margin: 10px;
    }
    td,
    th {
        padding: 3px;
        border: 1px solid black
    }
    /*  footer  */
    .foo {
        height: 150px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }
}